<div id="settings">
	<%=  form_for(@setting, url: settings_path(id: @setting.id), method: 'PUT', id: 'edit-setting', remote: true) do |f| %>
      <div class="col-md-12">
         <div class="appSettings">
            <div class="spanInline">
               <label>
               Toggle your page layout to suit your store requirements and theme. Please select one from below options.
               </label>
               <br>
               <!-- <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                  <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--noWrap">
                     <div class="Polaris-Stack__Item">
                        <div>
                           <label class="Polaris-Choice" for="disabled"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="disabled" name="Layout" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="true" checked=""><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Horizontal</span></label>
                        </div>
                     </div>
                     <div class="Polaris-Stack__Item">
                        <div>
                           <label class="Polaris-Choice" for="optional"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="optional" name="Layout" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value="false"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Vertical</span></label>
                        </div>
                     </div>
                  </div>
               </div> -->
               <div class="onlyInProLayout" style="display: none;">
                  <label>
                  Enable Sticky Header(Pro layout 3)
                  </label>
                  <br>
                  <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                     <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--noWrap">
                        <div class="Polaris-Stack__Item">
                           <div>
                              <label class="Polaris-Choice" for="sticky_header_on"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton">
                                 <input id="sticky_header_on" name="stickyHeader" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="true" checked=""><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">On</span></label>
                           </div>
                        </div>
                        <div class="Polaris-Stack__Item">
                           <div>
                              <label class="Polaris-Choice" for="sticky_header_off"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="sticky_header_off" name="stickyHeader" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value="false"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Off</span></label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <label>
                  Sticky Header Color(Pro layout 3)
                  </label>
                  <br>
                  <input type="color" id="stickyHeaderColor" name="stickyHeaderColor" class="inputSetting">
                  <!--<input type="button" class="btnSubmit btnLayout" value="Update layout" />-->
                  <br>
                  <br>
               </div>
               <b>Vendor image size in pixels</b><br>
               <label class="col-md-2">Width: 
                  <%= f.number_field :image_width, class: 'form-control' %></label></label>
               <label class="col-md-2">Height: <%= f.number_field :image_height, class: 'form-control' %></label></label>
            </div>
            <!-- <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;display: initial;">
            	<button type="button" class="btnUpdateSettings btnSubmit Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save Settings</span></span></button></div> -->
            <div class="downgradetoLogoFeature" style="display:block;">
               <div class="col-md-12 settingPane">
                  <h4>Page UI Option</h4>
                  <div class="form-inline">
                     <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                        <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--noWrap">
                           <div class="Polaris-Stack__Item">
                              <div>
                                 <label class="Polaris-Choice" for="only_text">
                                 	<span class="Polaris-Choice__Control"><span class="Polaris-RadioButton">
                                       <!-- <input id="only_text" name="uiRenderOption" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="1" checked=""> -->
                                       <%= f.radio_button :page_ui_option, "Only text " %>
                                       <span class="Polaris-RadioButton__Icon"></span>
                                    </span>
                                 </span>
                                 <span class="Polaris-Choice__Label"> Only text</span></label>
                              </div>
                           </div>
                           <div class="Polaris-Stack__Item">
                              <div>
                                 <label class="Polaris-Choice" for="text_and_logos"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton">
                                    <!-- <input id="text_and_logos" name="uiRenderOption" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value="2"> -->
                                     <%= f.radio_button :page_ui_option, "Text and logos " %>
                                       
                                    </span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label"> Text and logos</span></label>
                              </div>
                           </div>
                           <div class="Polaris-Stack__Item">
                              <div>
                                 <label class="Polaris-Choice" for="show_only_logos"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton">
                                    <!-- <input id="show_only_logos" name="uiRenderOption" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value="3"> -->
                                     <%= f.radio_button :page_ui_option, "Show only logos " %>
                                    
                                       
                                    </span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Show only logos</span></label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="Polaris-Layout subSession">
         <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
            <div class="Polaris-Card">
               <div class="Polaris-Card__Section subSession">
                  <div class="Polaris-Layout">
                     <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
                        <div class="Polaris-Card">
                           <div class="Polaris-Card__Header">
                              <h2 class="Polaris-Heading">Heading Color</h2>
                           </div>
                           <div class="Polaris-Card__Section">
                           	<%= f.color_field :heading_color, class: 'inputSetting' %>
                              <!-- <input type="color" name="hTxtColor" class="inputSetting"> -->
                           </div>
                        </div>
                     </div>
                     <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
                        <div class="Polaris-Card">
                           <div class="Polaris-Card__Header">
                              <h2 class="Polaris-Heading">Heading Size</h2>
                           </div>
                           <div class="Polaris-Card__Section">
                           	<%= f.number_field :heading_size, class: 'inputSetting' %>
                              <!-- <input type="number" name="hTxtSize" class="inputSetting"> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="Polaris-Card__Section ">
                  <div class="Polaris-Layout">
                     <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
                        <div class="Polaris-Card">
                           <div class="Polaris-Card__Header">
                              <h2 class="Polaris-Heading">Brand Color</h2>
                           </div>
                           <div class="Polaris-Card__Section">
                           	<%= f.color_field :brand_color, class: 'inputSetting' %>
                              <!-- <input type="color" name="txtColor" class="inputSetting"> -->
                           </div>
                        </div>
                     </div>
                     <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
                        <div class="Polaris-Card">
                           <div class="Polaris-Card__Header">
                              <h2 class="Polaris-Heading">Brand Size</h2>
                           </div>
                           <div class="Polaris-Card__Section">
                           	<%= f.number_field :brand_size, class: 'inputSetting' %>
                              <!-- <input type="number" name="txtSize" class="inputSetting"> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
            <div class="Polaris-Card">
               <div class="Polaris-Card__Header">
                  <style id="customCss"></style>
                  <h2 class="Polaris-Heading">Sample</h2>
               </div>
               <div class="Polaris-Card__Section">
                  <div class="rte">
                     <div class="brandPage_Root">
                        <ul>
                           <li>
                              <h3 class="brandPage_header" style="color: rgb(0, 0, 0); font-size: 58px;">P</h3>
                              <ul>
                                 <li><a class="brandPage_item" style="color: rgb(0, 0, 0);">PUMA</a></li>
                              </ul>
                           </li>
                           <li>
                              <h3 class="brandPage_header" style="color: rgb(0, 0, 0); font-size: 58px;">T</h3>
                              <ul>
                                 <li>
                                    <a class="brandPage_item" style="color: rgb(0, 0, 0);">test product</a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;display: initial;">
      				

                    <%= button_tag( class: "btnUpdateSettings btnSubmit Polaris-Button Polaris-Button--primary") do %>
      <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save Settings</span></span>
   <% end %>
            	<!-- <button type="button" class="btnUpdateSettings btnSubmit Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save Settings</span></span></button> -->
            </div>
      </div>
<% end %>

     <!--  <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;margin-top: 2rem;">
         <div class="Polaris-Layout">
            <div class="Polaris-Layout__Section">
               <div class="Polaris-Card">
                  <div class="Polaris-Card__Header">
                     <h2 class="Polaris-Heading">Custom CSS</h2>
                  </div>
                  <div class="Polaris-Card__Section CustomCSSContainer">
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!-- <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"> -->
         <%#= button_tag( class: "btnUpdateSettings btnSubmit Polaris-Button Polaris-Button--primary") do %>
      <!-- <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save Settings</span></span> -->
   <%# end %>
<%# end %>
         <!-- <button type="button" class="btnUpdateSettings btnSubmit Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save Settings</span></span></button> -->
      </div>
   </div>

<script type="text/javascript">
   $('.edit-setting').submit(function () {
      $('.loading').show();
      $('.panel-color').css({background: 'rgba(10,10,10,0.8)', opacity: 0.5})
});
   
</script>