 <div id="home" class="tab-pane fade in active">
      <div class="container-fluid">
         <div class="custom-registration-card custom-table-holder">
            <div class="row">
               <div class="col-md-12">
                  <%= link_to "Refresh Brands", new_vendors_vendors_path, class: 'btn btn-primary', style: 'float: right', remote: true, onclick: 'showLoader()' %>
                  
                   <tbody>
                        <% @vendors.each do |vendor|%>
                        <tr>
                           <td><%= vendor.name %></td>
                           <td>
                              <% if vendor.logo.attached?%>
                              <%= image_tag  url_for(vendor.logo) , width: '40px', height: '40px' %>
                                 <% end %>
                           </td>
                           <td>
                            <%= form_for(vendor, url: upload_logo_image_path, method: 'post', remote: true) do |f|%>
                            <%= f.file_field :logo, accept: 'image/png,image/jpeg'%>
                            <%= f.hidden_field :id, value: vendor.id %>
                            <%= f.submit 'Add', class: 'btn btn-primary' %>
                         <% end %>

                           </td>
                           <td><%= select_tag 'collection', options_from_collection_for_select(@collections, 'id', 'title'), prompt: 'Selected Collection', class: 'form-control' %></td>
                           <td><%= link_to vendor.visibility? ? "Hide" : "Show", update_vendor_vendor_path(vendor.id), class: 'btn btn-primary', id: "hide-#{vendor.id}", remote: true, onclick: 'showLoader()' %></td>
                           <td><%= link_to vendor.is_featured? ? "No" : "Yes", feature_brand_vendor_path(vendor.id), class: 'btn btn-primary', id: "featured-#{vendor.id}", remote: true, onclick: 'showLoader()' %></td>
                        </tr>
                        <% end %>
                     </tbody> 
               </div>
            </div>
         </div>
      </div>
   </div>

   <script type="text/javascript">
   function showLoader() {
      $('.loading').show();
      $('.panel-color').css({background: 'rgba(10,10,10,0.8)', opacity: 0.5})
   }
</script>